.blog_content {
  max-width: 120rem;
  margin: auto;
  /* background-color: aqua; */
}

.blog_header h2 {
  text-align: center;
  margin: 2rem 0;
}

.blog_header hr {
  width: 95%;
  background-color: var(--primary);
}

.blog_entradas {
  display: flex;
  flex-direction: column;
} 

@media (min-width: 768px) {
  .blog_entradas {
    flex-direction: row;
  }
}