:root {
  --primary: #15B0D4;
  --secondary: #547e88;
  --gray: #DEDEDE;
  --gray-dark: #8c8c8c;
  --black: #000;
  --dark: #201e1e;
  --fuente-principal: 'Aldrich', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background-color: var(--dark);
  color: var(--gray);
}

img {
  max-width: 100%;
}

[class*="content"] {
  max-width: 120rem;
  margin: auto;
}

[class*="hr"] {
  width: 95%;
}

[class*="figure_background"] {
  background-image: url("../public/img/Rectangle.svg");
  background-attachment: fixed;
  background-position: center;
}

[class*="text_shadow"] {
  text-shadow: var(--black) .5rem .5rem .4rem;
}

[class*="btn_style"] {
  padding: 1rem;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: .4rem;
  transition: all .5s ease;
  text-align: center;
}

[class*="btn_style"] a {
  text-decoration: none;
  color: var(--gray);
  text-transform: uppercase;
}

[class*="btn_style"]:hover {
  background-color: var(--black);
}

[class*="btn_style"] a:hover {
  color: var(--primary);
}

[class*="text_center"] {
  text-align: center;
}
/*[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
} */