.logo_header {
  display: flex;
  z-index: 2;
  cursor: pointer;
}

.logo_header_img {
  display: flex;
  width: 6rem;
}

.logo_text {
  font-size: 3rem;
  margin-left: 1.5rem;
  text-shadow: -.2rem -.2rem .5rem var(--negro), 
  .3rem .3rem .3rem var(--negro);
}